
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Confirm     Email</h2>
<div>
    Cảm ơn vì bạn đã xác nhận. vui lòng  @Html.ActionLink("Click here to Log in", "Login", "Home")
</div>
